%h1 FastMuffin
- if viewer
  %p
    Hi!
    %br
    Your access_token is
    %input{:type => :text, :value => access_token}
    %br
    %a(href="/logout") Log out
- else
  Please
  %a(href="/auth/singly?service=foursquare") Log In with Foursquare
