%h1 FastMuffin
%header
  %h2 Hi!

  - if flash[:notice]
    %p.notice= flash[:notice]
%p
  %br
  Your access_token is
  %input{:type => :text, :value => access_token}
  %br

%p
  Your most recent checkins are
  %ul
    - @checkins.each do |checkin|
      %li
        = checkin.venue_name
        = distance_of_time_in_words(Time.now, checkin.checked_in_at)
        ago

%P
  %a{:href => sync_path} Sync my checkins

%footer
  %a(href="/logout") Log out
